{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<table class="table table-bordered">
    <caption>用户列表</caption>
    <thead>
    <tr>
        <th>用户名</th>
        <th>密码</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<form method="post" action="{% url 'test' %}">
    {#<form method="post" action="/hello/">#}
    {% csrf_token %}
    <input type="text" value="" name="key">
    <input type="submit" value="提交">
</form>
标签的使用: <br>
if标签: <br>
{% if athlete_list1|length %}
    Number of athletes: {{ athlete_list1|length }}
{% elif athlete == '1' %}
    {% autoescape off %}
        athlete:1
    {% endautoescape %}

{% else %}
    unknown
{% endif %}
<br>
for标签: <br>
<ul>
    {% for athlete in athlete_list1 %}
        <li>{{ forloop.revcounter }} - {{ athlete }}</li>
        {% comment %}
                <tr class="{% cycle row1 row2 %}">
                    ...
                </tr>
        {% endcomment %}
    {% empty %}
        athlete_list没有内容

    {% endfor %}
    <br>
    csrf_token标签: <br>
    {% csrf_token %}

    {% verbatim %}
    {{ ver }}
    {% endverbatim %}
    <br>
    {{ ver|add:'d' }}
    <br>
    {{ value|date:"Y年m月d日" }}
    <br>
    {% with total=aaaaaaaaaaaaaaaa %}
        {{ total }}
    {% endwith %}
    <br>
    {{ value1|default_if_none:'nothing' }}
    <br>
    {% autoescape off %}
        {{ value2|escape }}
    {% endautoescape %}
    <br>
    {{ value2|safe }}
    {{ value3|filesizeformat }}
    {{ value1|last }}
    {{ value3|floatformat:3 }}
    <br>
    {{ value1|length }}
    {{ value4|urlencode }}
    <br>
    {{ value1|slice:":2" }}
    <br>
    {{ value5|truncatechars:4 }}
    {{ value5|truncatewords:2 }}
    {{ value2|striptags }}
    <br>
    {% include value6 %}
    {% include sub.html with hello='hello!Django' %}
</ul>
